.pricebox {
    width: auto;
    min-width: 30%;
    position: fixed ;
    margin-top: 15px;
}

.milesDiv {
    margin-top: 25px;
}

body, input[type="text"], option, select
{
    font-size : 14px
}

.btnToggle {
    font-size: 10px;
}
.passportDiv{
    margin-top: 25px;
}


.seatShow {
    margin-bottom: 3%;
}


.preSeatPaxSelector {
    margin-bottom: 8px;
    margin-top: 8px;
}



.currency {
    margin-left: 5px;
}

.btnToggle {
    width: 78px !important;
}

.passengerCompo, .contactDetails , .paymentDetails, .Leg, .passengerUpsaleCompo
{
    margin-top: 3%;
}

.paymentDetails {
    margin-bottom: 5%;
}

.gmtDate {
    color:blue;
}


.addOnePassenger {
    margin-top: 2%;
}

.purchasedLeg {
    margin-top: 5%;
    margin-bottom: 5%;
}


.btnPlusMinusBags {
    padding: 3px 5px;
    font-size: 10px;
    border-radius: 2px;
    margin-right: 5px;
}

.mybtn {
    padding: 3px 5px;
    font-size: 5px;
    border-radius: 2px;
    margin-right: 5px;
}


.pricebox h4 {
    text-align: center;
    color: yellow;
}

.passengerBagPriceBox {
    margin-top: 3%;
}

.bagCarrier ,.itinerary , .bagComponent , .insuranceCard , .cabinSelection{
    margin-top: 5%;
}

.cabinPaxSelection {
    margin-top: 1%;
}

.segments {
    margin-top: 2%;
}


.flightTime {
    font-size: 155%;
}

.gmtdiff {
    font-size: 75%;
}

.gmt_warning {
    color : red;
    font-weight: bold;
}


.hotel_preview {
    max-width: 95%;
    height: auto;
}


.seatButton {
    height: 15px;
    margin-right: 3px;
    margin-bottom: 5px;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}

.seatAvailable {
    background-color : #292aff;
}

.seatChosen {
    background-color : #00ff03;
}

.seatTaken {
    background-color: #ece7ff;
}

.seatRowHeader {
    text-align: center;
    height: 45px;
    background-color: #feffd7;

}

.seatLetterGroup {
    margin-right:8%;
}


.busSegment {
    margin-top: 5px;
}

.busPassengerList {
    margin-top: 15px;
}

.textInputErr {
    color:red;
    display: inline-block;
}


.errorBorder {
    border: 2px;
    border-style: solid;
    border-color:red;
}

.sideBarPrice {
    text-align: center;
}

.paymentLogo img {
    width: 125px; /* you can use % */
    height: auto;
}
@media screen and (max-width: 250px) {

    .busCity {
        margin-top: 5px;
    }
}


.singleMilesCard {
    margin-bottom: 5px;
}


.seatPaxSelector {
    cursor:pointer;
}