.pricebox {
    width: auto;
    min-width: 30%;
    position: fixed ;
    margin-top: 15px;
}

.milesDiv {
    margin-top: 25px;
}

body, input[type="text"], option, select
{
    font-size : 14px
}

.btnToggle {
    font-size: 10px;
}
.passportDiv{
    margin-top: 25px;
}



.currency {
    margin-left: 5px;
}

.btnToggle {
    width: 78px !important;
}

.passengerCompo, .contactDetails , .paymentDetails, .Leg, .passengerUpsaleCompo
{
    margin-top: 3%;
}

.paymentDetails {
    margin-bottom: 5%;
}

.gmtDate {
    color:blue;
}


.addOnePassenger {
    margin-top: 2%;
}

.purchasedLeg {
    margin-top: 5%;
    margin-bottom: 5%;
}


.btnPlusMinusBags {
    padding: 3px 5px;
    font-size: 10px;
    border-radius: 2px;
    margin-right: 5px;
}

.mybtn {
    padding: 3px 5px;
    font-size: 5px;
    border-radius: 2px;
    margin-right: 5px;
}


.pricebox h4 {
    text-align: center;
    color: yellow;
}

.passengerBagPriceBox {
    margin-top: 3%;
}

.bagCarrier ,.itinerary , .bagComponent , .insuranceCard , .cabinSelection{
    margin-top: 5%;
}

.cabinPaxSelection {
    margin-top: 1%;
}

.segments {
    margin-top: 2%;
}


.flightTime {
    font-size: 155%;
}

.gmtdiff {
    font-size: 75%;
}

.gmt_warning {
    color : red;
    font-weight: bold;
}


.hotel_preview {
    max-width: 95%;
    height: auto;
}




.textInputErr {
    color:red;
    display: inline-block;
}


.errorBorder {
    border: 2px;
    border-style: solid;
    border-color:red;
}

.sideBarPrice {
    text-align: center;
}

.paymentLogo img {
    width: 125px; /* you can use % */
    height: auto;
}
@media screen and (max-width: 250px) {

    .busCity {
        margin-top: 5px;
    }
}


.singleMilesCard {
    margin-bottom: 5px;
}




.langDropDown {
    margin-left: 5px;
}

body { padding: 40px; }
.dropdown-toggle, .dropdown-menu { width: 350px; margin-left: 5px }
.btn-group img { margin-right: 10px ;width: 55px }
.dropdown-toggle { padding-right: 50px }
.dropdown-toggle .glyphicon { margin-left: 20px; margin-right: -40px }
.dropdown-menu>li>a:hover { background: #f1f9fd } /* $search-blue */
.dropdown-header { background: #ccc; font-size: 14px; font-weight: 700; padding-top: 5px; padding-bottom: 5px; margin-top: 10px; margin-bottom: 5px }


.cabinLegSelect {
    margin-top: 5%;
}



.cabinSegment {
    margin-top: 1%;
}


.cabinTrip {
    margin-top: 4%;
}

.langSelector {
    margin-top: 2%;
    margin-bottom: 2%;
}

.bagLegDiv {
    margin-top: 2%;
    margin-bottom: 1%;
}
